body {
  margin: 0;
  display: table;
  height: 100%;
  width: 100%;
  font: 14px/134% Helvetica Neue, sans-serif;
}

#center {
  display: table-cell;
  vertical-align: middle;
}

#fig {
  position: relative;
  margin: auto;
}

#title {
  position: relative;
  left: 30px;
  background: white;
  font-size: 20;
  text-align: center;
  padding: 30px;
}